/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/* IMPORTED FONTS */

@font-face {
    font-family: "lato";
    src: url(/blog/fonts/sans-serif/lato-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "rozha";
    src: url(/blog/fonts/serif/rozhaone-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "jose";
    src: url(/blog/fonts/serif/josefinslab-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* TYPOGRAPHY */

p {
    font-family: lato, arial, sans-serif;
}

article p {
    line-height: 1.8;
}

aside p {
    line-height: 1.6;
}


h1, h2, h3, h4 {
    font-family: rozha, serif;
    letter-spacing: 0.0325rem;
}

h1 {
    font-size: 4rem;
    letter-spacing: 0.25rem;
    transform: rotate(-3deg);
    text-align: center;
}

header {
    font-family: jose, serif;
}

.highlight {
    display: inline-block;
    font-family: rozha, serif;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #e4e7ec;
    background-color: #212326;
    box-shadow: 5px 5px 4px -1px #545957;
}

/* GENERAL SETUP AND DEFAULTS */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}


/* LAYOUT */

.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;
}

nav {
    margin-top: 2rem;
}

header {
    padding: 0.2rem 0rem 0.2rem 0;
}

h2 {
    padding-top: 1.8rem;
}

article h3 {
    padding-top: 1rem;
}

article {
    grid-column: 1 / 2;
    grid-row: 1;
    padding-right: 2rem;
}

article p:first-of-type {
    margin-top: 0;
}

time {
    display: block;
    margin-bottom: 3rem;
}

aside {
    grid-column: 2 / 3;
    grid-row: 1;
    border-left: 2px solid #212326;
    padding-left: 2rem;
}

aside p {
    border-bottom: 2px solid #212326;
    padding-bottom: 2rem;
}

.subsection {
    display: flex;
}

/* IMAGES AND FIGURES */

img {
    width: 100%;
}

figure {
    margin: 0px;
}

.article-image {
    width: 33%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}

.subsection {
    margin: 1rem 0rem;
}

.subsection figure {
    margin: 0rem 0.25rem;
    background-color: #b2a583;
}

.subsection figure figcaption {
    padding: 0.25rem 0.25rem;
}

/* LINKS AND NAVIGATION */

a {
    text-decoration: none;
}

nav a {
    display: inline-block;
    padding: 2rem 4rem;
    font-size: 1.7rem;
    font-family: rozha, serif;
    color: #334145;
}

nav {
    border-top: 2px solid #212326;
    border-bottom: 2px solid #212326;
}

nav a.active {
    transform: rotate(6deg);
    font-weight: 900;
    text-decoration: line-through;
}

nav a:focus, nav a:hover {
    color: #fff;
    background-color: #545957;
}

.subscribe-btn {
    background-color: #212326;
    color: white;
    font-family: rozha, serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #212326;
    margin-top: 1rem;
}
    
.subscribe-btn:hover {
    background-color: #545957;
}

.expand {
    text-decoration: none;
    display: block;
    margin-top: 0.5rem;
    font-size: 0.3rem;
} /* Three Dots */

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #3B5055;
}




